:root {
  --white: #ffffff;
  --grey: #c8d1dc;
}
.startButton {
  padding: 8px 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
  background-color: var(--white);
  border-width: 1px;
  border-color: var(--grey);
  cursor: pointer;
}
