.app {
  background-color: #4a4a4a;
  position: absolute;
  height: 100%;
  width: 100%;
}

.paginateButton {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 70px;
  right: 10px;
  background-color: #f2f2f2;
}
