.call {
  position: relative; /* To make it a "positioned" container so children layout works */
  height: calc(100% - 60px); /* Space for the tray */
}

.participant-counts {
  position: absolute;
  left: 10px;
  top: 0px;
}

.participant-counts p {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
}

.large-tiles {
  height: calc(100% - 132.5px);
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  align-items: center;
  overflow-y: scroll;
}

.small-tiles {
  height: 132.5px; /* Video height + 10px padding either side */
  display: flex;
  align-items: center;
}
